<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/uikit.almost-flat.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.tokenize.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/components/datepicker.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/components/autocomplete.almost-flat.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/mellisberry.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
        <nav class="uk-navbar uk-navbar-attached">
            <ul class="uk-navbar-nav">
                <li><a href="/"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" /></a></li>
                <li class="uk-parent" data-uk-dropdown>
                    <a href="">Production <i class="uk-icon-caret-down"></i></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="{{ url_for('cms_blueprint.suppliers') }}">Suppliers</a></li>
                            <li><a href="{{ url_for('cms_blueprint.ingredients') }}">Ingredients</a></li>
                            <li><a href="{{ url_for('cms_blueprint.products') }}">Products</a></li>
                        </ul>
                    </div>
                </li>
                <li class="uk-parent" data-uk-dropdown>
                    <a href="">Sales <i class="uk-icon-caret-down"></i></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="{{ url_for('cms_blueprint.customers') }}">Customers</a></li>
                            <li><a href="{{ url_for('cms_blueprint.sales') }}">Sales log</a></li>
                        </ul>
                    </div>
                </li>
                <li class="uk-parent" data-uk-dropdown>
                    <a href="">Settings <i class="uk-icon-caret-down"></i></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="{{ url_for('settings_blueprint.production') }}">Production</a></li>
                            <li><a href="{{ url_for('settings_blueprint.help') }}">Help</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="{{ url_for('cms_blueprint.logout') }}">logout</a></li>
                </ul>
            </div>
        </nav>

        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascript %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/uikit.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tokenize.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/components/datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/components/autocomplete.js') }}"></script>
        {% endblock %}
    </body>
</html>
