{% extends "_layout.html" %}
{% block title %}Mellis Berry → Suppliers{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>List of clients</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Jars bought</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clients %}
            <tr>
                <td><i class="uk-icon-{% if s.type == 'private' %}user{% else %}building{% endif %}"></i> {{ s.name }}</td>
                <td>{{ s.country }}</td>
                <td>{{ s.comment }}</td>
                <td><a href="">more <i class="uk-icon-angle-double-right"></i><a/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
