{% extends "_layout.html" %}
{% block title %}Mellis Berry → Suppliers{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>List of suppliers</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Farmer/Company</th>
                <th>Country</th>
                <th>Comment</th>
                <th>Story</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td>{% if s.name %}<i class="uk-icon-user"></i> {{ s.name }}{% elif s.company_name %}<i class="uk-icon-building"></i> {{ s.company_name }}{% else %}-{% endif %}</td>
                <td>{% if s.country %}{{ s.country }}{% else %}-{% endif %}</td>
                <td>{{ s.comment }}</td>
                <td>{% if s.story %}{{ s.story[:140] }}...{% else %}-{% endif %}</td>
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_sup{{ s._id }}" class="uk-button" data-uk-modal="{target:'#edit_sup{{ s._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-supplier" />
                        <input type="hidden" name="id" value="{{ s._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>
                    <div id="edit_sup{{ s._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit supplier</h3>
                            </div>
                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ form.hidden_tag() }}
                                <input type="hidden" name="id" value="{{ s._id }}" />
                                <input type="hidden" name="action" value="edit-supplier" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.name.id }}">{{ form.name.label.text }}</label>
                                    <input id="{{ form.name.id }}" name="{{ form.name.id }}" value="{{ s.name }}" type="text" placeholder="{{ form.name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.company_name.id }}">{{ form.company_name.label.text }}</label>
                                    <input id="{{ form.company_name.id }}" name="{{ form.company_name.id }}" value="{{ s.company_name }}" type="text" placeholder="{{ form.company_name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.email.id }}">{{ form.email.label.text }}</label>
                                    <input id="{{ form.email.id }}" name="{{ form.email.id }}" value="{{ s.email }}" type="text" placeholder="{{ form.email.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.phone.id }}">{{ form.phone.label.text }}</label>
                                    <input id="{{ form.phone.id }}" name="{{ form.phone.id }}" value="{{ s.phone }}" type="text" placeholder="{{ form.phone.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.address.id }}">{{ form.address.label.text }}</label>
                                    <input id="{{ form.address.id }}" name="{{ form.address.id }}" value="{{ s.address }}" type="text" placeholder="{{ form.address.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.country.id }}">{{ form.country.label.text }}</label>
                                    <input id="{{ form.country.id }}" name="{{ form.country.id }}" value="{{ s.country}}" type="text" placeholder="{{ form.country.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.comment.id }}">{{ form.comment.label.text }}</label>
                                    <input id="{{ form.comment.id }}" name="{{ form.comment.id }}" value="{{ s.comment }}" type="text" placeholder="{{ form.comment.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.story.id }}">{{ form.story.label.text }}</label>
                                    <textarea cols="30" rows="5" id="{{ form.story.id }}" name="{{ form.story.id }}" placeholder="{{ form.story.label.text }}" type="text" ></textarea>
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add new supplier</h3>
    <form class="uk-form" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" name="action" value="add-supplier" />
        <div class="uk-form-row">
            <input id="{{ form.name.id }}" name="{{ form.name.id }}" placeholder="{{ form.name.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.company_name.id }}" name="{{ form.company_name.id }}" placeholder="{{ form.company_name.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.phone.id }}" name="{{ form.phone.id }}" placeholder="{{ form.phone.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.email.id }}" name="{{ form.email.id }}" placeholder="{{ form.email.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.address.id }}" name="{{ form.address.id }}" placeholder="{{ form.address.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.country.id }}" name="{{ form.country.id }}" placeholder="{{ form.country.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <input id="{{ form.comment.id }}" name="{{ form.comment.id }}" placeholder="{{ form.comment.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <textarea cols="30" rows="5" id="{{ form.story.id }}" name="{{ form.story.id }}" placeholder="{{ form.story.label.text }}" type="text" ></textarea>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button">Add</button>
        </div>
    </form>

</div>
{% endblock %}
