{% extends "_layout.html" %}
{% block title %}Mellis Berry → Help{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>1. How to start</h1>
    <h2>1.1. Defining groups</h2>
    <h3>1.1.1. Product names</h3>
    <p>Product name is the final name of the product, e.g. "Raspberry Honey Delight", the term that is written on a label.</p>

    <h3>1.1.2. Product groups</h3>
    <p>Product groups are used when displaying the list of products made.</p>

    <h3>1.1.3. Ingredient groups</h3>
    <p>Ingredient groups are useful for grouping ingredients of the same type. For example raspberries and blueberries can be grouped as berries, apricots and apples are fruits.</p>
</div>
{% endblock %}
