{% extends "_layout.html" %}
{% block title %}Mellis Berry ERP{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <div class="uk-grid">
        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">Title</h3>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </div>
        </div>
    </div>
</div>
{% endblock %}
