{% extends "_layout.html" %}
{% block title %}Mellis Berry → Ingredients{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>Honey batches</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Price (€)</th>
                <th>Weigth (kg)</th>
                <th>Price/kg</th>
                <th>Supplier</th>
                <th>Purchased</th>
                <th>Expires</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for h in honey_batches %}
            <tr>
                <td>{{ h.name }}</td>
                <td>{{ h.group.name }}</td>
                <td>{{ h.price }}</td>
                <td>{{ h.weight }}</td>
                <td>{{ (h.price/h.weight)|round(2, 'ceil') }}</td>
                <td>{% if h.supplier.company_name %}{{ h.supplier.company_name }}{% else %}{{ h.supplier.name }}{% endif %}</td>
                <td>{{ h.purchased }}</td>
                <td>{{ h.expires }}</td>
                {% if h.location %}
                <td><a href="https://www.google.com/maps/@{{ h.location }},{{ h.location_zoom }}z" target="_blank">Map</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_honey{{ h._id }}" class="uk-button" data-uk-modal="{target:'#edit_honey{{ h._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-honey" />
                        <input type="hidden" name="id" value="{{ h._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>
                    <div id="edit_honey{{ h._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit this batch</h3>
                            </div>

                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ honey_form.hidden_tag() }}
                                <input type="hidden" name="action" value="edit-honey" />
                                <input type="hidden" name="id" value="{{ h._id }}" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.name.id }}">{{ honey_form.name.label.text }}</label>
                                    <input id="{{ honey_form.name.id }}" name="{{ honey_form.name.id }}" value="{{ h.name }}" type="text" placeholder="{{ honey_form.name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.group.id }}">{{ honey_form.group.label.text }}</label>
                                    {% if not ingredient_groups %}
                                    <input type="text" value="No groups added" disabled />
                                    {% else %}
                                    <select class="uk-button uk-form-select" id="{{ honey_form.group.id }}" name="{{ honey_form.group.id }}" data-uk-form-select>
                                        {% for g in ingredient_groups %}
                                        <option value="{{ g._id }}"{% if h.group._id == g._id %} selected{% endif %}>{{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.price.id }}">{{ honey_form.price.label.text }}</label>
                                    <input id="{{ honey_form.price.id }}" name="{{ honey_form.price.id }}" value="{{ h.price }}" type="text" placeholder="{{ honey_form.price.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.weight.id }}">{{ honey_form.weight.label.text }}</label>
                                    <input id="{{ honey_form.weight.id }}" name="{{ honey_form.weight.id }}" value="{{ h.weight }}" type="text" placeholder="{{ honey_form.weight.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.supplier.id }}">{{ honey_form.supplier.label.text }}</label>
                                    <select class="uk-button uk-form-select" id="{{ honey_form.supplier.id }}" name="{{ honey_form.supplier.id }}" data-uk-form-select>
                                        {% for s in suppliers %}
                                        <option value="{{ s._id }}"{% if (s.name and s.name == h.supplier.name) or (s.company_name and s.company_name == h.supplier.company_name) %} selected{% endif %}>{% if s.name %}{{ s.name }}{% else %}{{ s.company_name }}{% endif %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.purchased.id }}">{{ honey_form.purchased.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ honey_form.purchased.id }}" name="{{ honey_form.purchased.id }}" value="{{ h.purchased }}" type="text" placeholder="{{ honey_form.purchased.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.expires.id }}">{{ honey_form.expires.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ honey_form.expires.id }}" name="{{ honey_form.expires.id }}" value="{{ h.expires }}" type="text" placeholder="{{ honey_form.expires.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.location.id }}">{{ honey_form.location.label.text }}</label>
                                    <input id="{{ honey_form.location.id }}" name="{{ honey_form.location.id }}" value="{{ h.location }}" type="text" placeholder="{{ honey_form.location.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ honey_form.location_zoom.id }}">{{ honey_form.location_zoom.label.text }}</label>
                                    <input id="{{ honey_form.location_zoom.id }}" name="{{ honey_form.location_zoom.id }}" value="{{ h.location_zoom }}" type="text" placeholder="{{ honey_form.location_zoom.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <input type="submit" class="uk-button" value="Save" />
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br /><a href="#new-honey-batch" class="uk-button" data-uk-modal="{target:'#new-honey-batch'}">Add more honey</a>
    <div id="new-honey-batch" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3>Add new batch</h3>
            </div>

            <form class="uk-form uk-form-horizontal" method="post">
                {{ honey_form.hidden_tag() }}
                <input type="hidden" name="action" value="add-honey" />

                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.name.id }}">{{ honey_form.name.label.text }}</label>
                    <input id="{{ honey_form.name.id }}" name="{{ honey_form.name.id }}" type="text" placeholder="{{ honey_form.name.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.group.id }}">{{ honey_form.group.label.text }}</label>
                    {% if not ingredient_groups %}
                    <input type="text" value="No groups added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ honey_form.group.id }}" name="{{ honey_form.group.id }}" data-uk-form-select>
                        {% for g in ingredient_groups %}
                        <option value="{{ g._id }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.price.id }}">{{ honey_form.price.label.text }}</label>
                    <input id="{{ honey_form.price.id }}" name="{{ honey_form.price.id }}" type="text" placeholder="{{ honey_form.price.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.weight.id }}">{{ honey_form.weight.label.text }}</label>
                    <input id="{{ honey_form.weight.id }}" name="{{ honey_form.weight.id }}" type="text" placeholder="{{ honey_form.weight.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.supplier.id }}">{{ honey_form.supplier.label.text }}</label>
                    {% if not suppliers %}
                    <input type="text" value="No groups added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ honey_form.supplier.id }}" name="{{ honey_form.supplier.id }}" data-uk-form-select>
                        {% for s in suppliers %}
                        <option value="{{ s._id }}">{% if s.company_name %}{{ s.company_name }}{% else %}{{ s.name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.purchased.id }}">{{ honey_form.purchased.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ honey_form.purchased.id }}" name="{{ honey_form.purchased.id }}" type="text" placeholder="{{ honey_form.purchased.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.expires.id }}">{{ honey_form.expires.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ honey_form.expires.id }}" name="{{ honey_form.expires.id }}" type="text" placeholder="{{ honey_form.expires.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.location.id }}">{{ honey_form.location.label.text }}</label>
                    <input id="{{ honey_form.location.id }}" name="{{ honey_form.location.id }}" type="text" placeholder="{{ honey_form.location.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ honey_form.location_zoom.id }}">{{ honey_form.location_zoom.label.text }}</label>
                    <input id="{{ honey_form.location_zoom.id }}" name="{{ honey_form.location_zoom.id }}" type="text" placeholder="{{ honey_form.location_zoom.label.text }}" />
                </div>

                <div class="uk-modal-footer">
                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                    <input type="submit" class="uk-button" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <h1>Other ingredients</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Price (€)</th>
                <th>Weigth (kg)</th>
                <th>Dry weight</th>
                <th>Price/kg</th>
                <th>Supplier</th>
                <th>Purchased</th>
                <th>Frozen</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for b in berry_batches %}
            <tr>
                <td>{{ b.name }}</td>
                <td>{{ b.group.name }}</td>
                <td>{{ b.price }}</td>
                <td>{{ b.weight }}</td>
                <td>{% if b.dry_weight %} {{ b.dry_weight }} (100 → {{ (b.dry_weight*100/b.weight)|round|int }}%){% else %}0{% endif %}</td>
                <td>{{ (b.price/b.weight)|round(2, 'ceil') }}</td>
                <td>{% if b.supplier.company_name %}{{ b.supplier.company_name }}{% else %}{{ b.supplier.name }}{% endif %}</td>
                <td>{{ b.purchased }}</td>
                <td>{% if b.is_frozen %}Yes{% else %}No{% endif %}</td>
                {% if b.location %}
                <td><a href="https://www.google.com/maps/@{{ b.location }},{{ b.location_zoom }}z" target="_blank">Map</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_berries{{ b._id }}" class="uk-button" data-uk-modal="{target:'#edit_berries{{ b._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-berries" />
                        <input type="hidden" name="id" value="{{ b._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>

                    <div id="edit_berries{{ b._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit this batch</h3>
                            </div>

                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ berry_form.hidden_tag() }}
                                <input type="hidden" name="action" value="edit-berries" />
                                <input type="hidden" name="id" value="{{ b._id }}" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.name.id }}">{{ berry_form.name.label.text }}</label>
                                    <input id="{{ berry_form.name.id }}" name="{{ berry_form.name.id }}" value="{{ b.name }}" type="text" placeholder="{{ berry_form.name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.group.id }}">{{ berry_form.group.label.text }}</label>
                                    {% if not ingredient_groups %}
                                    <input type="text" value="No groups added" disabled />
                                    {% else %}
                                    <select class="uk-button uk-form-select" id="{{ berry_form.group.id }}" name="{{ berry_form.group.id }}" data-uk-form-select>
                                        {% for g in ingredient_groups %}
                                        <option value="{{ g._id }}"{% if b.group._id == g._id %} selected{% endif %}>{{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.price.id }}">{{ berry_form.price.label.text }}</label>
                                    <input id="{{ berry_form.price.id }}" name="{{ berry_form.price.id }}" value="{{ b.price }}" type="text" placeholder="{{ berry_form.price.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.weight.id }}">{{ berry_form.weight.label.text }}</label>
                                    <input id="{{ berry_form.weight.id }}" name="{{ berry_form.weight.id }}" value="{{ b.weight }}" type="text" placeholder="{{ berry_form.weight.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.dry_weight.id }}">{{ berry_form.dry_weight.label.text }}</label>
                                    <input id="{{ berry_form.dry_weight.id }}" name="{{ berry_form.dry_weight.id }}" value="{% if b.dry_weight %}{{ b.dry_weight }}{% else %}0{% endif %}" type="text" placeholder="{{ berry_form.dry_weight.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.supplier.id }}">{{ berry_form.supplier.label.text }}</label>
                                    <select class="uk-button uk-form-select" id="{{ berry_form.supplier.id }}" name="{{ berry_form.supplier.id }}" data-uk-form-select>
                                        {% for s in suppliers %}
                                        <option value="{{ s._id }}"{% if (s.name and s.name == b.supplier.name) or (s.company_name and s.company_name == b.supplier.company_name) %} selected{% endif %}>{% if s.name %}{{ s.name }}{% else %}{{ s.company_name }}{% endif %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.purchased.id }}">{{ berry_form.purchased.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ berry_form.purchased.id }}" name="{{ berry_form.purchased.id }}" value="{{ b.purchased }}" type="text" placeholder="{{ berry_form.purchased.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.expires.id }}">{{ berry_form.expires.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ berry_form.expires.id }}" name="{{ berry_form.expires.id }}" value="{{ b.expires }}" type="text" placeholder="{{ berry_form.expires.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.is_frozen.id }}">{{ berry_form.is_frozen.label.text }}</label>
                                    <input type="checkbox" class="filled-in" id="{{ berry_form.is_frozen.id }}" name="{{ berry_form.is_frozen.id }}" {% if b.is_frozen %}checked="checked"{% endif %} />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.location.id }}">{{ berry_form.location.label.text }}</label>
                                    <input id="{{ berry_form.location.id }}" name="{{ berry_form.location.id }}" value="{{ b.location }}" type="text" placeholder="{{ berry_form.location.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ berry_form.location_zoom.id }}">{{ berry_form.location_zoom.label.text }}</label>
                                    <input id="{{ berry_form.location_zoom.id }}" name="{{ berry_form.location_zoom.id }}" value="{{ b.location_zoom }}" type="text" placeholder="{{ berry_form.location_zoom.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br /><a href="#new-ingredient-batch" class="uk-button" data-uk-modal="{target:'#new-ingredient-batch'}">New ingredients</a>
    <div id="new-ingredient-batch" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3>Add new batch</h3>
            </div>

            <form class="uk-form uk-form-horizontal" method="post">
                {{ berry_form.hidden_tag() }}
                <input type="hidden" name="action" value="add-berries" />

                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.name.id }}">{{ berry_form.name.label.text }}</label>
                    <input id="{{ berry_form.name.id }}" name="{{ berry_form.name.id }}" type="text" placeholder="{{ berry_form.name.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.group.id }}">{{ berry_form.group.label.text }}</label>
                    {% if not ingredient_groups %}
                    <input type="text" value="No groups added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ berry_form.group.id }}" name="{{ berry_form.group.id }}" data-uk-form-select>
                        {% for g in ingredient_groups %}
                        <option value="{{ g._id }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.price.id }}">{{ berry_form.price.label.text }}</label>
                    <input id="{{ berry_form.price.id }}" name="{{ berry_form.price.id }}" type="text" placeholder="{{ berry_form.price.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.weight.id }}">{{ berry_form.weight.label.text }}</label>
                    <input id="{{ berry_form.weight.id }}" name="{{ berry_form.weight.id }}" type="text" placeholder="{{ berry_form.weight.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.supplier.id }}">{{ berry_form.supplier.label.text }}</label>
                    <select class="uk-button uk-form-select" id="{{ berry_form.supplier.id }}" name="{{ berry_form.supplier.id }}" data-uk-form-select>
                        {% for s in suppliers %}
                        <option value="{{ s._id }}">{% if s.company_name %}{{ s.company_name }}{% else %}{{ s.name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.purchased.id }}">{{ berry_form.purchased.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ berry_form.purchased.id }}" name="{{ berry_form.purchased.id }}" type="text" placeholder="{{ berry_form.purchased.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.expires.id }}">{{ berry_form.expires.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ berry_form.expires.id }}" name="{{ berry_form.expires.id }}" type="text" placeholder="{{ berry_form.expires.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.is_frozen.id }}">{{ berry_form.is_frozen.label.text }}</label>
                    <input type="checkbox" class="filled-in" id="{{ berry_form.is_frozen.id }}" name="{{ berry_form.is_frozen.id }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.location.id }}">{{ berry_form.location.label.text }}</label>
                    <input id="{{ berry_form.location.id }}" name="{{ berry_form.location.id }}" type="text" placeholder="{{ berry_form.location.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ berry_form.location_zoom.id }}">{{ berry_form.location_zoom.label.text }}</label>
                    <input id="{{ berry_form.location_zoom.id }}" name="{{ berry_form.location_zoom.id }}" type="text" placeholder="{{ berry_form.location_zoom.label.text }}" />
                </div>

                <div class="uk-modal-footer">
                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                    <input type="submit" class="uk-button" value="Save" />
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
