{% extends "_layout.html" %}
{% block title %}Mellis Berry → Production settings{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>List of product names</h1>
    These names need to be defined before the batch is made. They are used for filtering.
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for n in names %}
            <tr>
                <td>{{ n.name }}</td>
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_name{{ n._id }}" class="uk-button" data-uk-modal="{target:'#edit_name{{ n._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-name" />
                        <input type="hidden" name="id" value="{{ n._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>
                    <div id="edit_name{{ n._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit name</h3>
                            </div>
                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ name_form.hidden_tag() }}
                                <input type="hidden" name="id" value="{{ n._id }}" />
                                <input type="hidden" name="action" value="edit-name" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ name_form.name.id }}">{{ name_form.name.label.text }}</label>
                                    <input id="{{ name_form.name.id }}" name="{{ name_form.name.id }}" value="{{ n.name }}" type="text" placeholder="{{ name_form.name.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add new product name</h3>
    <p>The name of the final product that you are going to have on the label, e.g. carrot cake</p>
    <form class="uk-form" method="post">
        {{ name_form.hidden_tag() }}
        <input type="hidden" name="action" value="add-name" />
        <div class="uk-form-row">
            <input id="{{ name_form.name.id }}" name="{{ name_form.name.id }}" placeholder="{{ name_form.name.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button">Add</button>
        </div>
    </form>

    <h1>Product groups</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for g in groups %}
            <tr>
                <td>{{ g.name }}</td>
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_group{{ g._id }}" class="uk-button" data-uk-modal="{target:'#edit_group{{ g._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-group" />
                        <input type="hidden" name="id" value="{{ g._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>
                    <div id="edit_group{{ g._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit group</h3>
                            </div>
                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ group_form.hidden_tag() }}
                                <input type="hidden" name="id" value="{{ g._id }}" />
                                <input type="hidden" name="action" value="edit-group" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ group_form.name.id }}">{{ group_form.name.label.text }}</label>
                                    <input id="{{ group_form.name.id }}" name="{{ group_form.name.id }}" value="{{ g.name }}" type="text" placeholder="{{ group_form.name.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add new product group</h3>
    <p>Product type is used to specify the type/group of the final product, e.g. cake, preserve, delight</p>
    <form class="uk-form" method="post">
        {{ group_form.hidden_tag() }}
        <input type="hidden" name="action" value="add-group" />
        <div class="uk-form-row">
            <input id="{{ group_form.name.id }}" name="{{ group_form.name.id }}" placeholder="{{ group_form.name.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button">Add</button>
        </div>
    </form>

    <h1>Ingredient groups</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for g in ingredients %}
            <tr>
                <td>{{ g.name }}</td>
                <td>
                    <form method="post">
                        <!-- this field is unrelated to the form, it's here so that buttons are in line -->
                        <a href="#edit_ingredient{{ g._id }}" class="uk-button" data-uk-modal="{target:'#edit_ingredient{{ g._id }}'}">edit</a>
                        <!-- below fields are related to the form above -->
                        {{ delete_form.hidden_tag() }}
                        <input type="hidden" name="action" value="delete-ingredient" />
                        <input type="hidden" name="id" value="{{ g._id }}" />
                        <button type="submit" class="uk-button"><i class="uk-icon-close"></i></button>
                    </form>
                    <div id="edit_ingredient{{ g._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit group</h3>
                            </div>
                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ ingredient_form.hidden_tag() }}
                                <input type="hidden" name="id" value="{{ g._id }}" />
                                <input type="hidden" name="action" value="edit-ingredient" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ ingredient_form.name.id }}">{{ ingredient_form.name.label.text }}</label>
                                    <input id="{{ ingredient_form.name.id }}" name="{{ ingredient_form.name.id }}" value="{{ g.name }}" type="text" placeholder="{{ ingredient_form.name.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add new ingredient group</h3>
    <p>The ingredient group is used to group multiple ingredients into a single group, e.g. raspberries and sea buckthorn can be grouped as berries.</p>
    <form class="uk-form" method="post">
        {{ ingredient_form.hidden_tag() }}
        <input type="hidden" name="action" value="add-ingredient" />
        <div class="uk-form-row">
            <input id="{{ ingredient_form.name.id }}" name="{{ ingredient_form.name.id }}" placeholder="{{ ingredient_form.name.label.text }}" type="text" />
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button">Add</button>
        </div>
    </form>

</div>
{% endblock %}
