{% extends "_layout.html" %}
{% block title %}Mellis Berry → Products{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>Product batches</h1>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Avail/Total</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Group</th>
                <th>Weight</th>
                <th>Components</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.name.name }}</td>
                <td>{{ p.count }}/{{ p.total }}</td>
                <td>{{ p.created }}</td>
                <td>{{ p.expires }}</td>
                <td>{{ p.group.name }}</td>
                <td>{{ p.weight }}</td>
                <td>{{ p.components|join(', ', attribute='name') }}</td>
                <td>
                    <a href="#edit_batch{{ p._id }}" class="uk-button" data-uk-modal="{target:'#edit_batch{{ p._id }}'}">edit</a>
                    <div id="edit_batch{{ p._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Edit batch</h3>
                            </div>
                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ form.hidden_tag() }}
                                <input type="hidden" name="id" value="{{ p._id }}" />
                                <input type="hidden" name="action" value="edit-batch" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.name.id }}">{{ form.name.label.text }}</label>
                                    <input id="{{ form.name.id }}" name="{{ form.name.id }}" value="{{ p.name }}" type="text" placeholder="{{ form.name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.created.id }}">{{ form.created.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ form.created.id }}" name="{{ form.created.id }}" type="text" placeholder="{{ form.created.label.text }}" value="{{ p.created }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.expires.id }}">{{ form.expires.label.text }}</label>
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-calendar"></i>
                                        <input id="{{ form.expires.id }}" name="{{ form.expires.id }}" type="text" placeholder="{{ form.expires.label.text }}" value="{{ p.expires }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.group.id }}">{{ form.group.label.text }}</label>
                                    {% if not groups %}
                                    <input type="text" value="No groups added" disabled />
                                    {% else %}
                                    <select class="uk-button uk-form-select" id="{{ form.group.id }}" name="{{ form.group.id }}" data-uk-form-select>
                                        {% for g in groups %}
                                        <option value="{{ g._id }}" {% if g.name == p.group.name %}selected{% endif %}>{{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.weight.id }}">{{ form.weight.label.text }}</label>
                                    <input id="{{ form.weight.id }}" name="{{ form.weight.id }}" type="text" value="{{ p.weight }}" placeholder="{{ form.weight.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.count.id }}">{{ form.count.label.text }}</label>
                                    <input id="{{ form.count.id }}" name="{{ form.count.id }}" type="text" value="{{ p.count }}" placeholder="{{ form.count.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ form.components.id }}">{{ form.components.label.text }}</label>
                                    {% if not components %}
                                    <input type="text" value="No components added" disabled />
                                    {% else %}
                                    <select class="uk-button uk-form-select" id="{{ form.components.id }}" name="{{ form.components.id }}" multiple data-uk-form-select>
                                        {% for c in components %}
                                        <option value="{{ c[0] }}">{{ c[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <button type="submit" class="uk-button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td><a href="{{ url_for('cms_blueprint.products') }}?name={{ p.name._id }}&created={{ p.created }}"><i class="uk-icon-angle-double-right"></i><i class="uk-icon-angle-double-right"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br /><a href="#new-batch" class="uk-button" data-uk-modal="{target:'#new-batch'}">Add new batch</a>
    <div id="new-batch" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3>Add new batch</h3>
            </div>

            <form class="uk-form uk-form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <input type="hidden" name="action" value="add-batch" />

                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.name.id }}">{{ form.name.label.text }}</label>
                    {% if not names %}
                    <input type="text" value="No names added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ form.name.id }}" name="{{ form.name.id }}" data-uk-form-select>
                        {% for n in names %}
                        <option value="{{ n._id }}">{{ n.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.created.id }}">{{ form.created.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ form.created.id }}" name="{{ form.created.id }}" type="text" placeholder="{{ form.created.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.expires.id }}">{{ form.expires.label.text }}</label>
                    <div class="uk-form-icon">
                        <i class="uk-icon-calendar"></i>
                        <input id="{{ form.expires.id }}" name="{{ form.expires.id }}" type="text" placeholder="{{ form.expires.label.text }}" data-uk-datepicker="{format:'YYYY-MM-DD'}" />
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.group.id }}">{{ form.group.label.text }}</label>
                    {% if not groups %}
                    <input type="text" value="No groups added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ form.group.id }}" name="{{ form.group.id }}" data-uk-form-select>
                        {% for g in groups %}
                        <option value="{{ g._id }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.weight.id }}">{{ form.weight.label.text }}</label>
                    <input id="{{ form.weight.id }}" name="{{ form.weight.id }}" type="text" placeholder="{{ form.weight.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.count.id }}">{{ form.count.label.text }}</label>
                    <input id="{{ form.count.id }}" name="{{ form.count.id }}" type="text" placeholder="{{ form.count.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ form.components.id }}">{{ form.components.label.text }}</label>
                    {% if not components %}
                    <input type="text" value="No components added" disabled />
                    {% else %}
                    <select class="uk-button uk-form-select" id="{{ form.components.id }}" name="{{ form.components.id }}" multiple data-uk-form-select>
                        {% for c in components %}
                        <option value="{{ c.__class__.__name__ }}.{{ c._id }}">{{ c.name }} ({{ c.group.name }}, {{ c.purchased }})</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>

                <div class="uk-modal-footer">
                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                    <input type="submit" class="uk-button" value="Save" />
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
