{% extends "_layout.html" %}
{% block title %}Mellis Berry → Jars{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <h1>Products</h1>

    <a href="#soldbatch" class="uk-button" data-uk-modal="{target:'#soldbatch'}"><i class="uk-icon-shopping-cart"></i> sold batch</a>
    <div id="soldbatch" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3>Client details</h3>
            </div>

            <form class="uk-form uk-form-horizontal" method="post">
                {{ customer_form.hidden_tag() }}
                <input type="hidden" name="action" value="sold-batch" />

                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.name.id }}">{{ customer_form.name.label.text }}</label>
                    <div class="uk-autocomplete" data-uk-autocomplete="{source:'{{ url_for('internal_api.get_customers') }}', param: 'name', method: 'get'}">
                        <input id="sold-batch-{{ customer_form.name.id }}" name="{{ customer_form.name.id }}" type="text" placeholder="{{ customer_form.name.label.text }}" />
                        {% raw -%}
                        <script type="text/autocomplete">
                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                {{~items}}
                                <li data-value="{{ $item.name }}">
                                    <a>{{ $item.name }}</a>
                                </li>
                                {{/items}}
                            </ul>
                        </script>
                        {%- endraw %}
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.type.id }}">{{ customer_form.type.label.text }}</label>
                    <select class="uk-button uk-form-select" id="sold-batch-{{ customer_form.type.id }}" name="{{ customer_form.type.id }}" data-uk-form-select>
                        <option value="private">Private</option>
                        <option value="corporate">Corporate</option>
                    </select>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.address.id }}">{{ customer_form.address.label.text }}</label>
                    <input id="sold-batch-{{ customer_form.address.id }}" name="{{ customer_form.address.id }}" type="text" placeholder="{{ customer_form.address.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.country.id }}">{{ customer_form.country.label.text }}</label>
                    <input id="sold-batch-{{ customer_form.country.id }}" name="{{ customer_form.country.id }}" type="text" placeholder="{{ customer_form.country.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.price.id }}">{{ customer_form.price.label.text }}</label>
                    <input id="sold-batch-{{ customer_form.price.id }}" name="{{ customer_form.price.id }}" type="text" placeholder="{{ customer_form.price.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.discount.id }}">{{ customer_form.discount.label.text }}</label>
                    <input id="sold-batch-{{ customer_form.discount.id }}" name="{{ customer_form.discount.id }}" type="text" placeholder="{{ customer_form.discount.label.text }} %" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.comment.id }}">{{ customer_form.comment.label.text }}</label>
                    <input id="sold-batch-{{ customer_form.comment.id }}" name="{{ customer_form.comment.id }}" type="text" placeholder="{{ customer_form.comment.label.text }}" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="{{ customer_form.serial.id }}">{{ customer_form.serial.label.text }}</label>
                    <select id="sold-batch-{{ customer_form.serial.id }}" name="{{ customer_form.serial.id }}" multiple="multiple">
                    {% for p in products %}
                        <option value="{{ p._id }}">{{ p.serial }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="uk-modal-footer">
                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                    <input type="submit" class="uk-button" value="Save" />
                </div>
            </form>
        </div>
    </div>


    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Serial</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Group</th>
                <th>Weight</th>
                <th>Available</th>
                <th>Components</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.name.name }}</td>
                <td>{{ p.serial }}</td>
                <td>{{ p.created }}</td>
                <td>{{ p.expires }}</td>
                <td>{{ p.group.name }}</td>
                <td>{{ p.weight }}</td>
                <td>{% if p.available %}Yes{% else %}No{% endif %}</td>
                <td>{{ p.components|join(', ', attribute='name') }}</td>
                <td>
                    <a href="#sold{{ p._id }}" class="uk-button" data-uk-modal="{target:'#sold{{ p._id }}'}"><i class="uk-icon-shopping-cart"></i> sold</a>
                    <div id="sold{{ p._id }}" class="uk-modal">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3>Client details</h3>
                            </div>

                            <form class="uk-form uk-form-horizontal" method="post">
                                {{ customer_form.hidden_tag() }}
                                <input type="hidden" name="action" value="sold-single" />
                                <input type="hidden" name="{{ customer_form.serial.id }}" value="{{ p._id }}" />
                                <input type="hidden" name="count" value="1" />

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.name.id }}">{{ customer_form.name.label.text }}</label>
                                    <input id="sold-{{ customer_form.name.id }}" name="{{ customer_form.name.id }}" type="text" placeholder="{{ customer_form.name.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.type.id }}">{{ customer_form.type.label.text }}</label>
                                    <select class="uk-button uk-form-select" id="sold-{{ customer_form.type.id }}" name="{{ customer_form.type.id }}" data-uk-form-select>
                                        <option value="private">Private</option>
                                        <option value="corporate">Corporate</option>
                                    </select>
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.address.id }}">{{ customer_form.address.label.text }}</label>
                                    <input id="sold-{{ customer_form.address.id }}" name="{{ customer_form.address.id }}" type="text" placeholder="{{ customer_form.address.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.country.id }}">{{ customer_form.country.label.text }}</label>
                                    <input id="sold-{{ customer_form.country.id }}" name="{{ customer_form.country.id }}" type="text" placeholder="{{ customer_form.country.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.price.id }}">{{ customer_form.price.label.text }}</label>
                                    <input id="sold-{{ customer_form.price.id }}" name="{{ customer_form.price.id }}" type="text" placeholder="{{ customer_form.price.label.text }}" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.discount.id }}">{{ customer_form.discount.label.text }}</label>
                                    <input id="sold-{{ customer_form.discount.id }}" name="{{ customer_form.discount.id }}" type="text" placeholder="{{ customer_form.discount.label.text }} %" />
                                </div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="{{ customer_form.comment.id }}">{{ customer_form.comment.label.text }}</label>
                                    <input id="sold-{{ customer_form.comment.id }}" name="{{ customer_form.comment.id }}" type="text" placeholder="{{ customer_form.comment.label.text }}" />
                                </div>
                                <div class="uk-modal-footer">
                                    <a href="#!" class="uk-modal-close uk-button">Cancel</a>
                                    <input type="submit" class="uk-button" value="Save" />
                                </div>
                            </form>
                        </div>
                    </div>
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block javascript %}
{{ super() }}
<script>
    $("#{{ customer_form.serial.id }}").tokenize();
    $("#sold-batch-{{ customer_form.name.id }}").on("selectitem.uk.autocomplete", function(a, b) {
        console.log(b);
    });
</script>
{% endblock %}
