img.logo {
    height: 30px;
}

.login-container {
    padding-top: 100px;
    width: 400px;
}

div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
    color: #444444;
    background: #ffffff;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 146px;
}
