{% extends "_layout.html" %}
{% block title %}Login{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="uk-container uk-margin-top">
    <div class="login-container uk-container-center">
        <form class="uk-form uk-form-horizontal" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            <legend>Login</legend>
            <div class="uk-form-row">
                <label class="uk-form-label" for="email">Email</label>
                <input name="{{ login_user_form.email.name }}" id="email"{% if login_user_form.email.data %}value="{{ login_user_form.email.data }}" {% endif %}type="text" class="validate" />
                {% if login_user_form.email.errors %}
                <div class="uk-alert uk-alert-danger">{{ login_user_form.email.errors[0] }}</div>
                {% endif %}
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="password">Password</label>
                <input name="{{ login_user_form.password.name }}" id="password"{% if login_user_form.password.data %}value="{{ login_user_form.password.data }}" {% endif %} type="password" class="validate" />
                {% if login_user_form.password.errors %}
                <div class="uk-alert uk-alert-danger">{{ login_user_form.password.errors[0] }}</div>
                {% endif %}
            </div>

            <div class="uk-form-row">
                <label class="uk-form-label" for="remember">Remember me</label>
                <input name="{{ login_user_form.remember.name }}" type="checkbox" class="filled-in" id="remember" checked="checked" />
            </div>

            <br /><button type="submit" class="uk-button" >Go!</button>
        </form>
        {% include "security/_menu.html" %}
    </div>
</div>
{% endblock %}
